RPC_URL=
MAINNET_RPC_URL=
ARBITRUM_RPC_URL=
PRIVATE_KEY=
FLASHBOTS_RELAY=https://relay.flashbots.net
CHAIN=mainnet
EXECUTOR_ADDRESS=
FORK_BLOCK=
POLL_MS=4000
TRADE_SIZE_USDC=50000000
MIN_PROFIT=20000000
FLASH_LOAN_FEE_BPS=9
GAS_COST_USDC=8000000
MAX_GAS_USDC=20000000
ETH_PRICE_USD=3500
